# Ignore all files
*

# Unignore our init files
!init*.el

# Unignore files in the custom folder
!custom/novarange.el

# Unignore this file
!.gitignore

# Unignore treesitter queries
!tree-sitter/
!tree-sitter/treesit-queries/
!tree-sitter/treesit-queries/**
